body{ 
    position: sticky;
    background-color: rgb(229, 179, 212);
    line-height: 25pt;
    font-size: medium;
    font-family: Lucida Sans;
    text-align: justify;
    text-indent: 5pc ;
    text-emphasis-color: ;
      
}
h1{ color: brown;
text-align: center;
font-family: Verdana, sans-serif;
}
h3{ color: brown;
text-align:calc(start);
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul li { padding-left: 20px;
}
li { padding-left: 2em;
}